include README.md
include requirements_DaiSy.txt
recursive-include daisy *.py
recursive-include lib *.h *.hpp *.cpp
recursive-include commons *.h *.hpp *.cpp
recursive-include pybinds *.h *.hpp *.cpp
recursive-exclude build *
recursive-exclude DaiSy_env *
recursive-exclude faiss_env * 
recursive-exclude fastdtw_env *
recursive-exclude tslearn_env *
recursive-exclude demos *.so
recursive-exclude demos __pycache__
